/* 
  ************* BODY ********************
*/
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Mr+De+Haviland);
body{
	padding: 0;
	text-align: center;
	background-position: center;
	background-color: #000;
	color: #FFF;
	font-family: "Times New Roman", Times, serif;
	font-size: small;
	font-style: normal;
}
   
#menu {
	font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
	height: 50px;
	vertical-align: middle;
	text-decoration: none;
}
.btnMenu,.btnMenu:link, .btnMenu:visited{
	margin: 20;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: linear;
	color: #FFF;
	text-decoration: none;
}
.btnMenu:hover {
	margin: 20;
	color: #F99;
}
#btnMenuActual {
	margin: 20;
	color: #FF9;
}
.contenido, .contenidoBigTitle, .contenido2Columnas {
	margin-left:10px;
	margin-right:10px;
	width: 23%;
	height: auto;
	float: left;
	text-align:justify;
}
#continente {
	height: auto;
	width: 100%;
}
.continenteImg {
	display: block;
	height: 100px;
	width: 100%;
	float : left
}
#footer {
	height: auto;
	width: 100%;
	clear:left;
}
h1{
	font-family: 'Mr Dafoe', cursive;
	font-weight: lighter;
	font-style: normal;
}
h2{
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
}
.footerContenido {
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
#footer {
	clear: left;
}
.footerContenido h1 {
	color: #FFC;
}
.contenido h1 {
	color: #FFC;
	text-align: center;
}
.footerCopyright {
	clear: both;
	font-family: 'Mr Dafoe', cursive;
	font-weight: lighter;
	padding: 40;
}
.contenidoBigTitle {
	text-align:center
	width: 99%;
	width: 98%;
	text-align: center;
	text-height: 25px;
}
.contenidoBigTitle h1 {
	color: #FFC;
	text-align: center;
	font-size: 48px;
}
.cotenedor2Columnas{
	clear: left;
}
.contenido2Columnas {
	width: 48%;
}
.contenido5Columnas {
	width: 19%;
	float: left;
	height: 100%;
}
.contenido3Columnas {
	width: 31%;
	float: left;
	height: 100%;
}

